.sidebar {
    background: #fff;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 110px;
}


.side-links {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    padding: 10px;
    border-radius: 8px;
}

.side-links i {
    font-size: 35px;
    margin-right: 10px;
    transition: transform 0.3s ease;
    color: black;
}

.side-links:hover {
    background-color: #8ecae6; /* Background color on hover */
    color: #fff; /* Text color on hover */
    transform: scale(1.05); 
    border-radius: 5px;/* Slightly increase the size of the entire link */
}

.side-links:hover i {
    transform: scale(1.2); /* Slightly increase the size of the icon */
}
